.container {
  background-color: rgb(238, 26, 26);
}

.grid-item {
  background-color: rgb(238, 26, 26);
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

h3 {
	margin-top: 5%;
	margin-bottom: 5%;
}

.panel {
	&:hover {
		background-color: #ffbb00;
		a {
			color: white;
		}
	}
	a {
		&:hover {
			color: white;
			text-decoration: none;
		}
	}
}

.image {
  width: 500px;
  height: 200px;
}
